* {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    text-shadow:1px 1px 1px rgba(0,0,0,0.004) !important;
    overflow-x: hidden;
}

h1 {/* background : grey;*/}
h2 {/* background : grey;*/}
h3 {/* background : grey;*/}
h4 {/* background : grey;*/}

p {/* background : grey;*/}
a {/* background : grey;*/}

